    <footer>
        <div class="footer--left">
            <div class="footer--left--top">
                <img src="../images/footer-logo.svg" alt="лого" title="САЮФМ">
                <a href="#">+ Добавить радио</a>
                <a href="#">Карта сайта</a>
            </div>
            <div class="footer-left--bottom">
                <p class="footer-copyright">САЮ.ФМ Все права защищены (с) 2024</p>
                <div class="footer__bolvanka"></div>
                <div class="footer__bolvanka"></div>
            </div>
        </div>
        <div class="footer--right">
            <div class="footer__socials">
                <a href=""><img src="../images/footer__vk.svg" alt="иконка вк" title="иконка вк"></a>
                <a href=""><img src="../images/footer__ok.svg" alt="иконка одноклассники" title="иконка одноклассники"></a>
                <a href=""><img src="../images/footer__dzen.svg" alt="иконка дзен" title="иконка дзен"></a>
            </div>
            <div class="footer__info">
                <p>ИП Синяшин Александр Юрьевич</p>
                <p>ИНН 642200056341</p>
            </div>
        </div>
    </footer>
</body>
</html>