<div class="full-main-content--container">
    <section class=" playing--container">
        <div class="playing__main-part">
            <div class="playing__vinyl">
                <img class="vinyl--back" src="../images/vinyl.svg" title="виниловая пластинка" alt="виниловая пластинка">
                <img class="vinyl--cover" src="../images/image_template.avif" alt="обложка" title="обложка">
            </div>
            <div class="playing__track">
                <div class="track--info">
                    <span>Сейчас играет</span>
                    <p class="track-name">ФАЛЬШИВОЕ СЕРДЦЕ</p>
                    <p class="track-author">КОТ В КАЗАКАХ</p>
                </div>
                <div class="track--controls">
                    <div class="controls--slides">
                        <button><img src="../images/icon__slideback.svg" alt="кнопка прокрутки назад" title="назад"></button>
                        <button><img src="../images/icon__play.svg" alt="кнопка паузы" title="пауза/играть"></button>
                        <button><img src="../images/icon__slideforward.svg" alt="кнопка прокрутки вперёд" title="вперёд"></button>
                    </div>
                    <div class="controls__sound">
                        <button><img src="../images/icon__soundbar.svg" alt="иконка громкости" title="уровень громкости"></button>
                        <div class="controls__sound--bar">
                            <div class="sound--bar__container"></div>
                            <div class="sound--bar__inner"></div>
                        </div>
                    </div>
                </div>
                <p class="dnone track--description">
                    Данная композиция была выпущена лейблом Sony Music, артист написал её будучи в неадекватном состоянии. Артист известен своим разносторонним отношениеим к созданию и написаню музыки.
                </p>
            </div>
        </div>
        <div class="playing__btns">
            <button class="playing__playlist-btn">
                ПЛЕЙЛИСТ
                <img class="icon__sizeup" src="../images/icon__sizeup.svg" alt="иконка раскрытия" title="раскрыть">
                <img class="dnone icon__cross" src="../images/icon__cross.svg" alt="иконка скрытия" title="cкрыть">
            </button>
            <button class="playing__description-btn">
                ОПИСАНИЕ
                <img class="icon__sizeup" src="../images/icon__sizeup.svg" alt="иконка раскрытия" title="раскрыть">
                <img class="dnone icon__cross" src="../images/icon__cross.svg" alt="иконка скрытия" title="cкрыть">
            </button>
        </div>
    
        <div class="playing__playlist--container dnone">
            <div class="playlist__tracks">
                <div class="tracks--container">
                    <div class="playlist__track">
                        <p class="is-playing-now"></p>
                        <div class="track-info">
                            <p class="track--name">G4OUR, ushira</p>
                            <p class="track--author">Звезда (prod. by Light Kick Beats x svvagebeats)</p>
                        </div>
                    </div>
    
                    <div class="playlist__track">
                        <p class="is-playing-now"></p>
                        <div class="track-info">
                            <p class="track--name">G4OUR, ushira</p>
                            <p class="track--author">Звезда (prod. by Light Kick Beats x svvagebeats)</p>
                        </div>
                    </div>
    
                    <div class="playlist__track">
                        <p class="is-playing-now"></p>
                        <div class="track-info">
                            <p class="track--name">G4OUR, ushira</p>
                            <p class="track--author">Звезда (prod. by Light Kick Beats x svvagebeats)</p>
                        </div>
                    </div>
    
                    <div class="playlist__track">
                        <p class="is-playing-now"></p>
                        <div class="track-info">
                            <p class="track--name">G4OUR, ushira</p>
                            <p class="track--author">Звезда (prod. by Light Kick Beats x svvagebeats)</p>
                        </div>
                    </div>
    
                    <div class="playlist__track">
                        <p class="is-playing-now"></p>
                        <div class="track-info">
                            <p class="track--name">G4OUR, ushira</p>
                            <p class="track--author">Звезда (prod. by Light Kick Beats x svvagebeats)</p>
                        </div>
                    </div>
    
                    <div class="playlist__track">
                        <p class="is-playing-now"></p>
                        <div class="track-info">
                            <p class="track--name">G4OUR, ushira</p>
                            <p class="track--author">Звезда (prod. by Light Kick Beats x svvagebeats)</p>
                        </div>
                    </div>
    
                    <div class="playlist__track">
                        <p class="is-playing-now"></p>
                        <div class="track-info">
                            <p class="track--name">G4OUR, ushira</p>
                            <p class="track--author">Звезда (prod. by Light Kick Beats x svvagebeats)</p>
                        </div>
                    </div>
    
                    <div class="playlist__track">
                        <p class="is-playing-now"></p>
                        <div class="track-info">
                            <p class="track--name">G4OUR, ushira</p>
                            <p class="track--author">Звезда (prod. by Light Kick Beats x svvagebeats)</p>
                        </div>
                    </div>
    
                    <div class="playlist__track">
                        <p class="is-playing-now"></p>
                        <div class="track-info">
                            <p class="track--name">G4OUR, ushira</p>
                            <p class="track--author">Звезда (prod. by Light Kick Beats x svvagebeats)</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <section class=" playing__action-btns">
        <button class="action__like">
            <span class="likes-counter">211</span>
            <img src="../images/icon__like.svg" alt="иконка лайка">
            МНЕ НРАВИТСЯ
        </button>
        <!--=include action_btns.html -->
    </section>
    
    <section class=" ad-block--container">
        <img src="../images/img__ad-block.avif" alt="заглушка для рекламы" title="...">
    </section>
    
    <!--=include readalso.html -->
    
    <section class="dnone error-404--container">
        <span>404</span>
        <p>Такой страницы не существует</p>
        <button>ВЕРНУТЬСЯ НА ГЛАВНУЮ</button>
    </section>
    
    <section class="dnone no-search-results--container">
        <p>Ничего не найдено.</p>
        <p>Попробуйте изменить запрос.</p>
    </section>
    
    <section class="dnone search-results--container">
        <div class="search-results__tracks--container">
            <div class="playlist__track">
                <p class="is-playing-now"></p>
                <div class="track-info">
                    <p class="track--name">G4OUR, ushira</p>
                    <p class="track--author">Звезда (prod. by Light Kick Beats x svvagebeats)</p>
                </div>
            </div>
            <div class="playlist__track">
                <p class="is-playing-now"></p>
                <div class="track-info">
                    <p class="track--name">G4OUR, ushira</p>
                    <p class="track--author">Звезда (prod. by Light Kick Beats x svvagebeats)</p>
                </div>
            </div>
        </div>
        <div class="search-results__podcasts--container">
            <h3>Подкасты</h3>
            <div class="search__podcasts">
                <div class="search__podcasts--item"></div>
                <div class="search__podcasts--item"></div>
                <div class="search__podcasts--item"></div>
                <div class="search__podcasts--item"></div>
                <div class="search__podcasts--item"></div>
                <div class="search__podcasts--item"></div>
            </div>
        </div>
        <div class="search-results__playlists--container">
            <h3>Плейлисты</h3>
            <div class="search__podcasts">
                <div class="search__podcasts--item"></div>
                <div class="search__podcasts--item"></div>
                <div class="search__podcasts--item"></div>
                <div class="search__podcasts--item"></div>
                <div class="search__podcasts--item"></div>
                <div class="search__podcasts--item"></div>
            </div>
        </div>
    </section>
    
    <section class="dnone add-radio--container">
        <h3>Добавить радио</h3>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero, explicabo at! Ea temporibus nam a hic sint ullam iste nisi fugit tenetur, ducimus laboriosam similique! Eveniet officiis sunt sint. Alias.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, deserunt placeat minus commodi amet ullam, molestiae officia laboriosam natus minima consectetur voluptatibus tenetur voluptas dolorem officiis, id accusamus quos consequuntur?</p>
    </section>

    <div class="dnone popup-donate--container">
        <div class="popup-donate"></div>
    </div>

    <div class="dnone popup-subscribe--container">
        <div class="popup-subscribe">
            <h3>Будь в центре музыкальных событий!</h3>
            <p class="sub-text-up">Подпишись на рассылку нашей радиостанции.</p>
            <input placeholder="Email" type="email">
            <button disabled>ПОДПИСАТЬСЯ</button>
            <p class="sub-text-bottom">Нажимая на кнопку вы соглашаетесь с <a href="#">условиями обработки персональных данных</aside>.</p>
            <img id="close-sub" src="../images/icon__cross.svg" alt="закрыть попап" title="скрыть">
        </div>
    </div>

    <div class="dnone all-content-upper"></div>
</div>