<section class="read-also--container">
    <h2>ЧИТАЙТЕ ТАКЖЕ:</h2>
    <div class="read-also">
        <article class="read-also__article">
            <img src="../images/image_template.avif" alt="обложка статьи" title="обложка статьи">
            <p>Сегодня что-то произошло</p>
            <a href="">Узнать больше...</a>
        </article>
        <article class="read-also__article">
            <img src="../images/image_template.avif" alt="обложка статьи" title="обложка статьи">
            <p>Сегодня что-то произошло</p>
            <a href="">Узнать больше...</a>
        </article>
        <article class="read-also__article">
            <img src="../images/image_template.avif" alt="обложка статьи" title="обложка статьи">
            <p>Сегодня что-то произошло</p>
            <a href="">Узнать больше...</a>
        </article>
        <article class="read-also__article">
            <img src="../images/image_template.avif" alt="обложка статьи" title="обложка статьи">
            <p>Сегодня что-то произошло</p>
            <a href="">Узнать больше...</a>
        </article>
    </div>
</section>